<div class="container">
  <div class="frame border">
    <p class="h4 mb-4 p-3">Update password</p>
    <form *ngIf="!isPasswordUpdated" (ngSubmit)="submit()" [formGroup]="userForm" id="user-form" class="text-center border border-light p-3">
      <div class="form-group">
        <input
          class="form-control mb-4"
          type="password"
          formControlName="password"
          id="password"
          name="password"
          placeholder="Enter new password"
        />
      </div>
      <div class="text-center">
        <button color="info" block="true" class="btn btn-primary my-4" type="submit">Update</button>
      </div>
    </form>
    <div *ngIf="isPasswordUpdated" class="text-center">
      <p>Password updated successfully!</p>
    </div>
  </div>
</div>
